<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Cancion</title>
</head>
<body>
    <h1>Agregar Cancion</h1>

    <form action="/canciones" method="post">




        
    </form>

</body>
</html>