<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/stylesheets/canciones.css">
    <style>
        body {
            background-color: darkcyan;
            color: white;
        }

        h1 {
            text-align: center;
            text-decoration: overline;
        }

        ul{
            text-align: center;
            margin-top: 10px;
        }

        a {
            color: white;
            text-align: center;
            text-decoration: none;
            font-size: 18px;
        }

        li{
            list-style: none;
            margin: 15px;
        }

        li:hover{
            font-size: 18px;
            text-decoration:underline;
            color: blue;
        }

        div {
            text-align: center;
            font-size: xx-large;
            display: flex;
            justify-content: center;
        }

        div:hover{
            color: blue;
        }

    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Canciones</title>
</head>
<body>
    <h1 class="titulo" >Listado de canciones y sus propiedades</h1>
    <ul>

        <% for (let i = 0; i < cancion.length; i++) { %>
            
            <li>
                <a href="/canciones/<%= cancion[i].id %>">
                <%= cancion[i].id %> - <%= cancion[i].titulo %>
                </a>
            </li>
            
        <% } %>

    </ul>

    <div>
        <a href="/crear">AGREGAR CANCION</a>
    </div>
</body>
<footer>
    <br>



    <br>
</footer>
</html>