<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eliminar Cancion</title>
</head>
<body>
    <h1>Eliminar <%= cancionn.titulo %> </h1>

    <form action="/canciones/<%= cancionn.id %>/eliminar?_method=DELETE" method="POST"></form>
        <input type="submit" value="Eliminar Cancion">
</body>
</html>