<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eliminar Cancion</title>
    <style>
        body {
            background-color: darkcyan;
            color: white;
        }

        h1 {
            text-align: center;
            text-decoration: overline;
        }

        ul{
            text-align: center;
            margin-top: 10px;
        }

        a {
            color: white;
            text-align: center;
            text-decoration: none;
            font-size: 18px;
        }

        li{
            list-style: none;
            margin: 10px;
        }

        div {
            color: black;
            text-align: center;
            font-size: xx-large;
            text-decoration: double;
        }

        input{
            display: flex;
            justify-content: center;
        }

    </style>
</head>
<body>
    <h1>Eliminar <%= cancionn.titulo %> </h1>

    <form action="/canciones/<%= cancionn.id %>/eliminar?_method=DELETE" method="POST"></form>
        <input type="submit" value="Eliminar Cancion">
</body>
</html>