<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Id cancion</title>
</head>
<body>
    <h1>Detalle de la cancion <%= cancionn.titulo %>


    <form action="/canciones/<%= cancionn.id %>/editar?_method=PUT" method="POST"></form>
    <input type="submit" value="Editar Cancion">

    <form action="/canciones/<%= cancionn.id %>/eliminar?_method=delete" method="post"></form>
        <input type="submit" value="Eliminar Cancion">
</body>
</html>