<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Id cancion</title>
    <style>
        body {
            background-color: darkcyan;
            color: white;
        }

        h1 {
            text-align: center;
            text-decoration: overline;
        }

        ul{
            text-align: center;
            margin-top: 10px;
        }

        a {
            color: white;
            text-align: center;
            text-decoration: none;
            font-size: 18px;
        }

        li{
            list-style: none;
            margin: 10px;
        }

        div {
            color: black;
            text-align: center;
            font-size: xx-large;
            text-decoration: double;
        }

    </style>
</head>
<body>
    <h1>Detalle de la cancion <%= cancionn.titulo %>

        <div>
        <a href="/canciones/<%= cancionn.id %>/editar">
    <input type="submit" value="Editar Cancion">
        </a>
<br>
    <!--<form action="/canciones/%= cancionn.id %>/eliminar?_method=DELETE" method="POST"></form>-->
        <a href="/canciones/<%= cancionn.id %>/eliminar">
        <input type="submit" value="Eliminar Cancion">
        </a>
    </div>
</body>
</html>